<p>Ingreso a la aplicación</p>
<form #loginForm="ngForm" (ngSubmit)="login()">
  <label
    >Usuario:
    <input
      type="text"
      [(ngModel)]="user.username"
      name="username"
      required
      #usuario="ngModel"
  /></label>
  <p>{{ user.username }}</p>
  <label
    >Clave:<input
      type="password"
      [(ngModel)]="user.password"
      name="password"
      required
      #clave="ngModel"
  /></label>
  <p>{{ user.password }}</p>

  <p>
    <input
      type="submit"
      [disabled]="usuario.invalid || clave.invalid"
      value="Ingresar"
    />
  </p>
  <div>{{ MensajeError }}</div>
</form>
