<p>{{fecha | date: 'dd/MM/yyyy'| uppercase}}</p>
<ul>
    <li *ngFor="let usuario of usuarios">
        {{usuario.id}} | {{usuario.nombre | uppercase}} |
        {{usuario.apellido | uppercase}}
        <button (click)="borrar(usuario.id)">Borrar</button>
        <button (click)="editar(usuario.id)"></button>
    </li>
</ul>
<hr />

<h2 class="ok">{{message}}</h2>
<form [formGroup]="usuarioForm" (ngSubmit)="alEnviar()">
    <h2>Nuevo Usuario</h2>
    <label>Nombre: <input type="text" formControlName="nombre"/></label>
    <label>Apellido: <input type="text" formControlName="apellido"/></label>
    <p><input type="submit" value="Enviar" /></p>
</form>